@model IEnumerable<ReviewSite.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*took out table class for styling purposes*@

    <div class="row container spacing" id="colBorder">
        @foreach (var item in Model)
        {
            <div class="col-md-4" id="colBorder"> 
                @*took out what I didnt want displayed on my reviews index page*@
                <h2>
                    @Html.DisplayFor(modelItem => item.Title)
                </h2>
                <h4>
                    @Html.DisplayFor(modelItem => item.Content)
                </h4>
                <h5>
                    Published by: @Html.DisplayFor(modelItem => item.Name)
                </h5>
                <h5>
                    @Html.DisplayFor(modelItem => item.Location)
                </h5>
                <h5>
                    Publish date: @item.PublishDate.ToShortDateString()
                </h5>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                </td>
            </div>
        }
    </div>


